# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
imgcmprs.egg-info/
*.whl
*.tar.gz

# Installer logs
g *.log

# Virtual environments
.env/
.venv/
env/
venv/
ENV/

# PyInstaller
*.manifest
*.spec

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Test and compressed images
*_comp.*
*.imgcmprs_tmp*

# MacOS
.DS_Store

# Windows
Thumbs.db
